.App {
  text-align: center;
  background-color: antiquewhite;
}

.counter {
  margin: auto;
  border: 2px solid #49b849;
  text-align: center;
  width: 30%;
}

.counterNumber {
  font-weight: bold;
  font-size: 50px;
}
